/*// X-Small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) {

}

@media (min-width: 576px) {

}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}

.font-22 {
    font-size: 22px;
}
.grey-color {
    color: #4d4d4d;
}
.navbar {
    background-color: #457b9d;
    /*color: white !important;*/
    font-size: 22px;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    /*background-color: #00afb9;*/
    color: #a8dadc !important;
}

.dropdown-menu {
    background-color: #457b9d !important;
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    background-color: white !important;
    color: #457b9d !important;
}

.oblak {
    font-size: 16px;
    color: white;
    padding: 2px 8px;
    background-color: #2db92d;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
    text-decoration: none;
}

.oblak:hover {
    color: white;
    padding: 2px 8px;
    background-color: limegreen;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
    text-decoration: none;
}

.aktivno > a {
    color: #a8dadc !important;
}

.aktivno-lista > a {
    background-color: white !important;
    color: #457b9d !important;
}

.greyscale img {
    filter: grayscale(25%);
}

.greyscale:hover img {
    filter: none;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.3s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: white;
    color: #457b9d;
    font-size: 14px;
    position: absolute;
    padding: 2px 6px;
    bottom: -2.6em;
    left: 93%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    /*border: 1px solid #00afb9;*/
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    position: relative;
}

.hero-div {
    position: relative;
}

.hero-pozadina {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(100, 196, 237, 0.6); /* Blue background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
}

.back-to-top {
    position: fixed;
    z-index: 10;
    bottom: 25px;
    right: 25px;
    display: none;
    color: #457b9d !important;
    background-color: white !important;
    border: 1px solid#457b9d !important;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 6px 0 rgba(0, 0, 0, 0.20) !important;
}

.back-to-top:hover {
    color: white !important;
    background-color: #457b9d !important;
}

/*scrollbar*/
/* Track */
::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #457b9d;
    border-radius: 8px;
    border: 1px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #36617c;
    border-radius: 8px;
    border: 1px solid white;
}

.about-card .card {
    border: none;
    background-color: cadetblue !important;
    color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px, rgba(0, 0, 0, 0.22) 0 4px 4px;
}
.usluge .card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px, rgba(0, 0, 0, 0.22) 0 4px 4px;
}
.card-title a:link, .card-title a:visited {
    color: #457b9d !important;
    text-decoration: none;
}
.card-title a:hover {
    color: #36617c !important;
}
.usluge .btn {
    color: white;
    background-color: #457b9d;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
}
.usluge .btn:hover {
    color: #457b9d;
    background-color: #f1faee;
    border: 1px solid #457b9d;
}
.img-box {
    overflow: hidden;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.img-box:hover img {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}

.img-box img, .img-box img::before, .img-box img::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.proces .card {
    background-color: #d3c9c4;
    border-bottom: 2px solid #457b9d !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px, rgba(0, 0, 0, 0.22) 0 4px 4px;
}
.proces .card h2 {
    color: #457b9d;
}
b, strong {
    color: #4d4d4d !important;
}
.logo-bckg {
    background-image: url("../images/logo-preseli-se-background-f1.webp");
    background-repeat: no-repeat;
    background-position: center;
}
.ponuda-card .card {
    border: none;
    background-color: cadetblue !important;
    color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px, rgba(0, 0, 0, 0.22) 0 4px 4px;
}
.sale {
    position: relative;
    display: inline-block;
    padding: 5px;
    -webkit-animation: beat 1s ease infinite alternate;
    animation: beat 1s ease infinite alternate;
}

.sale:before, .sale:after {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;

}

@-webkit-keyframes beat {
    from {
        -webkit-transform: scale(0.9);
        transform:  scale(0.9);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes beat {
    from {
        -webkit-transform: scale(0.9);
        transform:  scale(0.9);
    }
    to {
        -webkit-transform: scale(1);
        transform:  scale(1);
    }
}

.testimonial > .carousel-control-next,
.testimonial > .carousel-control-prev {
    z-index: 1;
    filter: brightness(0) saturate(100%) invert(27%) sepia(99%) saturate(4068%) hue-rotate(342deg) brightness(103%) contrast(80%);
}
.carousel-indicators button {
    margin-right: 10px !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    filter: brightness(0) saturate(100%) invert(27%) sepia(99%) saturate(4068%) hue-rotate(342deg) brightness(103%) contrast(80%);
}
.carousel-indicators {
    padding-top: 10px !important;
}
.testim  img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}
.gold {
    color: #d4af37;
    font-size: 18px;
}
.phone-call span {
    font-size: 30px;
    position: relative;
    top: -6%;
    transform: translateY(6%);
}
.phone-call {
    display: none;
}

.phone-call span {
    font-size: 30px;
    position: relative;
    top: -6%;
    transform: translateY(6%);
}
/*poziv odmah*/
@media only screen and (max-width: 992px) {
    .phone-call a {
        color: white;
        text-decoration: none;
    }

    .phone-call a:link, .phone-call a:visited {
        text-decoration: none;
        color: white;
    }

    .phone-call {
        font-size: 18px;
        width: 50px;
        height: 50px;
        left: 20px;
        bottom: 30px;
        background: #00bb00;
        position: fixed;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        border-radius: 50%;
        z-index: 99;
        display: inline-block;
        line-height: 55px;
    }

    .phone-call:before {
        position: absolute;
        content: " ";
        z-index: -1;
        top: -15px;
        left: -15px;
        background-color: #00bb00;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
        opacity: 0.6;
        -webkit-animation: pulse 1s ease-out;
        animation: pulse 1.8s ease-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    @-webkit-keyframes pulse {
        0% {
            -webkit-transform: scale(0);
            opacity: 0;
        }
        25% {
            -webkit-transform: scale(0.3);
            opacity: 1;
        }
        50% {
            -webkit-transform: scale(0.6);
            opacity: 0.6;
        }
        75% {
            -webkit-transform: scale(0.9);
            opacity: 0.3;
        }
        100% {
            -webkit-transform: scale(1);
            opacity: 0;
        }
    }
    @keyframes pulse {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        25% {
            transform: scale(0.3);
            opacity: 1;
        }
        50% {
            transform: scale(0.6);
            opacity: 0.6;
        }
        75% {
            transform: scale(0.9);
            opacity: 0.3;
        }
        100% {
            transform: scale(1);
            opacity: 0;
        }
    }
}
