* {
    font-family: 'Trirong', serif;
}

@font-face {
    font-display: swap;
}

/*// X-Small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) {
    .nav-item {
        font-size: 18px;
    }

    .dropdown-item {
        font-size: 16px;
    }

    .hero-cap {
        font-size: 24px;
    }

    .hero-p {
        font-size: 16px;
    }

    .h2-cap {
        font-size: 21px;
    }
}

@media (min-width: 576px) {
    .nav-item {
        font-size: 18px;
    }

    .dropdown-item {
        font-size: 16px;
    }

    .hero-cap {
        font-size: 26px;
    }

    .hero-p {
        font-size: 18px;
    }

    .h2-cap {
        font-size: 22px;
    }
}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .nav-item {
        font-size: 20px;
    }

    .dropdown-item {
        font-size: 18px;
    }

    .hero-cap {
        font-size: 26px;
    }

    .hero-p {
        font-size: 20px;
    }
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .hero-cap {
        font-size: 30px;
    }

    .hero-p {
        font-size: 22px;
    }

    .h2-cap {
        font-size: 23px;
    }
}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .hero-cap {
        font-size: 32px;
    }
}

.font-22 {
    font-size: 22px;
}

.grey-color {
    color: #4d4d4d;
}

.navbar {
    background-color: #457b9d;
    /*color: white !important;*/
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    /*background-color: #00afb9;*/
    color: #a8dadc !important;
}

.dropdown-menu {
    background-color: #457b9d !important;
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    background-color: white !important;
    color: #457b9d !important;
}

.oblak {
    font-size: 16px;
    color: white;
    padding: 2px 8px;
    background-color: #2db92d;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
    text-decoration: none;
}

.oblak:hover {
    color: white;
    padding: 2px 8px;
    background-color: limegreen;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
    text-decoration: none;
}

.aktivno > a {
    color: #a8dadc !important;
}

.aktivno-lista > a {
    /*background-color: white !important;*/
    color: #a8dadc !important;
}


.filter-blue:hover img {
    filter: brightness(0) saturate(100%) invert(88%) sepia(24%) saturate(312%) hue-rotate(131deg) brightness(91%) contrast(91%);
}

.filter-teget {
    filter: brightness(0) saturate(100%) invert(41%) sepia(82%) saturate(266%) hue-rotate(159deg) brightness(92%) contrast(94%);
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.3s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: white;
    color: #457b9d;
    font-size: 14px;
    position: absolute;
    padding: 2px 6px;
    bottom: -2.6em;
    left: 93%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    /*border: 1px solid #00afb9;*/
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    position: relative;
}

.hero-div {
    position: relative;
}

.hero-pozadina {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(100, 196, 237, 0.6); /* Blue background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
}

.back-to-top {
    position: fixed;
    z-index: 10;
    bottom: 25px;
    right: 25px;
    display: none;
    color: #457b9d !important;
    background-color: white !important;
    border: 1px solid #457b9d !important;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 6px 0 rgba(0, 0, 0, 0.20) !important;
}

.back-to-top:hover {
    color: white !important;
    background-color: #457b9d !important;
}

/*scrollbar*/
/* Track */
::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #457b9d;
    border-radius: 8px;
    border: 1px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #36617c;
    border-radius: 8px;
    border: 1px solid white;
}

.about-card .card {
    border: none;
    background-color: #365D5E !important;
    color: #f1f1f1;
}

.usluge .card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px, rgba(0, 0, 0, 0.22) 0 4px 4px;
}

.card-title a:link, .card-title a:visited {
    color: #457b9d !important;
    text-decoration: none;
}

.card-title a:hover {
    color: #36617c !important;
}

.usluge .btn {
    color: white;
    background-color: #457b9d;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.50);
}

.usluge .btn:hover {
    color: #457b9d;
    background-color: #f1faee;
    border: 1px solid #457b9d;
}

.img-box {
    overflow: hidden;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.img-box:hover img {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}

.img-box img, .img-box img::before, .img-box img::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.proces .card {
    background-color: #ded7d3;
    border-bottom: 2px solid #457b9d !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px, rgba(0, 0, 0, 0.22) 0 4px 4px;
}

b, strong {
    color: #4d4d4d !important;
}

.logo-bckg {
    background-image: url("../images/logo-preseli-se-background-f1.webp");
    background-repeat: no-repeat;
    background-position: center;
}

.ponuda-card .card {
    border: none;
    background-color: #365D5E !important;
    color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px, rgba(0, 0, 0, 0.22) 0 4px 4px;
}

.sale {
    position: relative;
    display: inline-block;
    padding: 5px;
    -webkit-animation: beat 1s ease infinite alternate;
    animation: beat 1s ease infinite alternate;
}

.sale:before, .sale:after {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;

}

@-webkit-keyframes beat {
    from {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes beat {
    from {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.testimonial > .carousel-control-next,
.testimonial > .carousel-control-prev {
    z-index: 1;
    filter: brightness(0) saturate(100%) invert(27%) sepia(99%) saturate(4068%) hue-rotate(342deg) brightness(103%) contrast(80%);
}

.carousel-indicators button {
    margin-right: 10px !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    filter: brightness(0) saturate(100%) invert(27%) sepia(99%) saturate(4068%) hue-rotate(342deg) brightness(103%) contrast(80%);
}

.carousel-indicators {
    padding-top: 10px !important;
}

.testim img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.gold {
    color: #d4af37;
    font-size: 18px;
}

.phone-call span {
    font-size: 30px;
    position: relative;
    top: -6%;
    transform: translateY(6%);
}

.phone-call {
    display: none;
}

.phone-call span {
    font-size: 30px;
    position: relative;
    top: -6%;
    transform: translateY(6%);
}

/*poziv odmah*/
@media only screen and (max-width: 992px) {
    .phone-call a {
        color: white;
        text-decoration: none;
    }

    .phone-call a:link, .phone-call a:visited {
        text-decoration: none;
        color: white;
    }

    .phone-call {
        font-size: 18px;
        width: 50px;
        height: 50px;
        left: 20px;
        bottom: 30px;
        background: #00bb00;
        position: fixed;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        border-radius: 50%;
        z-index: 99;
        display: inline-block;
        line-height: 55px;
    }

    .phone-call:before {
        position: absolute;
        content: " ";
        z-index: -1;
        top: -15px;
        left: -15px;
        background-color: #00bb00;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
        opacity: 0.6;
        -webkit-animation: pulse 1s ease-out;
        animation: pulse 1.8s ease-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    @-webkit-keyframes pulse {
        0% {
            -webkit-transform: scale(0);
            opacity: 0;
        }
        25% {
            -webkit-transform: scale(0.3);
            opacity: 1;
        }
        50% {
            -webkit-transform: scale(0.6);
            opacity: 0.6;
        }
        75% {
            -webkit-transform: scale(0.9);
            opacity: 0.3;
        }
        100% {
            -webkit-transform: scale(1);
            opacity: 0;
        }
    }
    @keyframes pulse {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        25% {
            transform: scale(0.3);
            opacity: 1;
        }
        50% {
            transform: scale(0.6);
            opacity: 0.6;
        }
        75% {
            transform: scale(0.9);
            opacity: 0.3;
        }
        100% {
            transform: scale(1);
            opacity: 0;
        }
    }
}

/*====================
	Footer
====================== */

/* Main Footer */
footer .main-footer {
    padding: 20px 0 0 0;
    background: #1d3557;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

/* Copy Right Footer */
.footer-copyright {
    background-color: #192f4d;
    color: white;
    padding: 5px 0;
}

.footer-copyright .logo {
    display: inherit;
}

.footer-copyright nav {
    float: right;
    margin-top: 5px;
}

.footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-copyright nav ul li {
    border-left: 1px solid #505050;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}

.footer-copyright nav ul li a {
    color: #969696;
}

.footer-copyright nav ul li:first-child {
    border: medium none;
    padding-left: 0;
}

.footer-copyright p {
    /*color: black;*/
    margin: 2px 0 0;
}

/* Footer Top */
.footer-top {
    background: #252525;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #222;
}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer {
    background: transparent;
}

footer.transparent .footer-copyright {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* Footer light */
footer.light .footer-top {
    background: #f9f9f9;
}

footer.light .main-footer {
    background: #f9f9f9;
}

footer.light .footer-copyright {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* Footer 4 */
.footer- .logo {
    display: inline-block;
}

/*====================
	Widgets
====================== */
.widget {
    padding: 20px;
    margin-bottom: 40px;
}

.widget.widget-last {
    margin-bottom: 0px;
}

.widget.no-box {
    padding: 0;
    background-color: transparent;
    margin-bottom: 40px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.widget.subscribe p {
    margin-bottom: 18px;
}

.widget li a, .widget a {
    text-decoration: none;
    color: #a8dadc;
}

.widget li a:hover, .widget a:hover {
    color: #a8dadc;
    text-decoration: underline;
}

.widget-title {
    margin-bottom: 20px;
    font-size: 1.25rem;
}

.widget-title span {
    background: #e63946 none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin-top: 25px;
    position: relative;
    width: 40px;
}

.widget-title span::after {
    background: inherit;
    content: "";
    height: inherit;
    position: absolute;
    top: -4px;
    width: 50%;
}

.widget-title.text-center span, .widget-title.text-center span::after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.widget .badge {
    float: right;
    background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
    color: #fff;
}

ul.social-footer2 {
    margin: 0;
    padding: 0;
    width: auto;
}

ul.social-footer2 li {
    display: inline-block;
    padding: 0;
}

ul.social-footer2 li a:hover {
    background-color: #a8dadc;
    border-radius: 0.25rem;
}

ul.social-footer2 li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
}

footer .btn {
    background-color: #a8dadc;
    color: #0e0e0e;
}

footer .btn:hover, footer .btn:focus, footer .btn.active {
    background: #a8dadc;
    color: #fff;
    /**-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;**/

}

.point {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.fa.luminescence {
    color: white;
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
    /*margin-bottom: 20px;*/
}

.fa.luminescence:hover {
    color: #a8dadc;
    transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
}

.pod-nav {
    /*background-image: linear-gradient(to right, #ff8095, #dc89d0, #909eee, #27ace2, #00afb9);*/
    /*color: white;*/
    background-image: radial-gradient(#fff, #a8dadc);
    /*background-color: #a8dadc;*/
    color: #4d4d4d;
}

.kontakt input, .kontakt textarea {
    background-color: #e1e5f2 !important;
    /*border-radius: 0 !important;*/
    /*box-shadow: 8px 8px 6px 0 rgb(0 0 0 0.50);*/
}

.kontakt .form-control:focus {
    border-color: #c9d1e8 !important;
    -webkit-box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
}

.send-button .send-dugme {
    border-radius: 15px;
    color: white !important;
    background-color: #457b9d !important;
    /*border: #fed9b7 1px solid !important;*/
}

.send-button .send-dugme:hover {
    background-color: #36617c !important;
}

.send-button .form-control:focus {
    /*border-color: #009199 !important;*/
    -webkit-box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
}

.pozadina {
    background-image: url(../images/kontakt-pozadina.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*.transbox {*/
/*    background: rgba(230, 230, 230, 0.1);*/
/*}*/
.txt-shadow {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.kontakt-podatci {
    color: white;
    background-color: rgba(29, 53, 87, 0.7);
    border-radius: 10px;
}

.kontakt-podatci a, .text-link a {
    color: #a8dadc;
    text-decoration: none;
    transition-duration: 0.2s;
}

.kontakt-podatci a:hover, .text-link a:hover {
    color: #a8dadc;
    text-decoration: underline;
}

.text-link {
    color: #00afb9;
    text-decoration: none;
}

.text-link:hover {
    text-decoration: none;
    color: #007980;
}

.text-link-white {
    color: #fff;
}

.text-link-white:hover {
    color: #ccc;
}

.btn-red {
    background-color: #eb606c !important;
    color: white !important;
    font-size: 18px !important;
}

.btn-red:hover {
    background-color: #e63946 !important;
    color: white !important;
}

.sidebar-linkovi {
    /*border-bottom: 2px solid #00afb9 !important;*/
    /*border: 1px solid #fed9b7;*/
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px, rgba(0, 0, 0, 0.22) 0 4px 4px;
}

.sidebar-linkovi {
    background-color: #ded7d3;
}

.side-link {
    list-style: none;
}

.side-link a {
    color: #457b9d;
    text-decoration: none;
}

.side-link a:hover {
    color: #457b9d;
    text-decoration: underline;
}

.box-price {
    /*width: fit-content;*/
    line-height: 1.2em;
    /*color: white;*/
    /*background-image: linear-gradient(to right, #00afb9, #00afb9, #27ace2, #909eee, #dc89d0);*/
    background-color: #ded7d3;
    padding: 0 6px;
    border-radius: 6px;
}
.about-1 {
    background-color: #ded7d3;
}
.about-2 {
    background-color: #a8dadc;
}